## Parte 1
Cargue la base de datos Lluvia_full.csv, codifique la variable LluviaMan como 0 y 1 para los días sin lluvia y con lluvia respectivamente. Además, realice una separación de la base de datos en un set de entrenamiento y set de validación. Utilice una proporción de 70:30 respectivamente estratificado por la LluviaMan. Para poder replicar sus resultados, fije una semilla antes de obtener los indices. Para ello utilice la función set.seed(2023).

In [35]:
import pandas as pd

In [36]:
# Cargar base de datos lluvia_full.csv
df = pd.read_csv('lluvia_full.csv', sep=',')

In [37]:
# Cargar head de datos
df.head()

,MinTemp,MaxTemp,Lluvia,Evaporacion,Sol,VelRafaga,Vel9am,Vel3pm,Hum9am,Hum3pm,Pres9am,Pre3pm,Nub9am,Nub3pm,Temp9am,Temp3pm,LluviaHoy,LluviaMan,Koppen,Estacion
0,7.60000,19.30000,0.00000,3.40000,9.40000,35.00000,13.00000,13.00000,73.00000,32.00000,1018.60000,1015.40000,1.00000,1.00000,9.40000,18.80000,No,No,Subtropical,Invierno
1,6.80000,19.50000,0.00000,3.40000,9.40000,46.00000,19.00000,28.00000,67.00000,42.00000,1018.40000,1015.20000,1.00000,1.00000,11.90000,17.90000,No,No,Subtropical,Invierno
2,5.50000,13.90000,0.00000,2.80000,3.80000,44.00000,26.00000,13.00000,72.00000,58.00000,1017.80000,1015.50000,7.00000,7.00000,8.10000,12.20000,No,No,Temperate,Invierno
3,8.60000,14.30000,0.00000,2.80000,3.80000,35.00000,13.00000,17.00000,67.00000,56.00000,1017.40000,1015.00000,7.00000,7.00000,9.30000,13.40000,No,Yes,Temperate,Invierno
4,7.90000,13.00000,0.00000,2.80000,3.80000,39.00000,15.00000,17.00000,68.00000,69.00000,1017.60000,1015.30000,7.00000,7.00000,9.00000,11.70000,No,No,Temperate,Invierno

In [38]:
# Verificar si hay datos nulos
df.isnull().sum()

MinTemp        0
MaxTemp        0
Lluvia         0
Evaporacion    0
Sol            0
VelRafaga      0
Vel9am         0
Vel3pm         0
Hum9am         0
Hum3pm         0
Pres9am        0
Pre3pm         0
Nub9am         0
Nub3pm         0
Temp9am        0
Temp3pm        0
LluviaHoy      0
LluviaMan      0
Koppen         0
Estacion       0
dtype: int64

In [39]:
# Codifique la variable LluviaMan como 0 y 1 para los días sin lluvia y con lluvia respectivamente
df["LluviaMan"].replace(["No","Yes"], [0, 1], inplace = True)
df['LluviaMan'].value_counts()

LluviaMan
0    43993
1    12427
Name: count, dtype: int64

In [40]:
# Información de dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56420 entries, 0 to 56419
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MinTemp      56420 non-null  float64
 1   MaxTemp      56420 non-null  float64
 2   Lluvia       56420 non-null  float64
 3   Evaporacion  56420 non-null  float64
 4   Sol          56420 non-null  float64
 5   VelRafaga    56420 non-null  float64
 6   Vel9am       56420 non-null  float64
 7   Vel3pm       56420 non-null  float64
 8   Hum9am       56420 non-null  float64
 9   Hum3pm       56420 non-null  float64
 10  Pres9am      56420 non-null  float64
 11  Pre3pm       56420 non-null  float64
 12  Nub9am       56420 non-null  float64
 13  Nub3pm       56420 non-null  float64
 14  Temp9am      56420 non-null  float64
 15  Temp3pm      56420 non-null  float64
 16  LluviaHoy    56420 non-null  object
 17  LluviaMan    56420 non-null  int64
 18  Koppen       56420 non-null  object
 19  Estacion     56420 non-null  object
dtypes: float64(16), int64(1), object(3)
memory usage: 8.6+ MB

In [41]:
# Separar datos estratificads por la variable LluviaMan

from sklearn.model_selection import train_test_split

df_y = df["LluviaMan"]
df_x = df.copy()
df_x.drop(["LluviaMan"], axis = "columns", inplace =  True)
df_x = pd.get_dummies(df_x, dtype = float)

In [42]:
# Ver información de los datos erificando datos de df_x 

df_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56420 entries, 0 to 56419
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MinTemp             56420 non-null  float64
 1   MaxTemp             56420 non-null  float64
 2   Lluvia              56420 non-null  float64
 3   Evaporacion         56420 non-null  float64
 4   Sol                 56420 non-null  float64
 5   VelRafaga           56420 non-null  float64
 6   Vel9am              56420 non-null  float64
 7   Vel3pm              56420 non-null  float64
 8   Hum9am              56420 non-null  float64
 9   Hum3pm              56420 non-null  float64
 10  Pres9am             56420 non-null  float64
 11  Pre3pm              56420 non-null  float64
 12  Nub9am              56420 non-null  float64
 13  Nub3pm              56420 non-null  float64
 14  Temp9am             56420 non-null  float64
 15  Temp3pm             56420 non-null  float64
 16  LluviaHoy_No        56420 non-null  float64
 17  LluviaHoy_Yes       56420 non-null  float64
 18  Koppen_Desert       56420 non-null  float64
 19  Koppen_Grassland    56420 non-null  float64
 20  Koppen_Subtropical  56420 non-null  float64
 21  Koppen_Temperate    56420 non-null  float64
 22  Estacion_Invierno   56420 non-null  float64
 23  Estacion_Otoño      56420 non-null  float64
 24  Estacion_Primavera  56420 non-null  float64
 25  Estacion_Verano     56420 non-null  float64
dtypes: float64(26)
memory usage: 11.2 MB

In [43]:
# Ver información de los datos 

df_y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 56420 entries, 0 to 56419
Series name: LluviaMan
Non-Null Count  Dtype
--------------  -----
56420 non-null  int64
dtypes: int64(1)
memory usage: 440.9 KB

In [44]:
# Verificar datos iniciales 
df_y.head()

0    0
1    0
2    0
3    1
4    0
Name: LluviaMan, dtype: int64

In [45]:
# Cambiar df_y a float
df_y = df_y.astype(float)

In [46]:
# Separo en 70% entrenamiento y 30% testeo con una semilla 2023

x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, train_size = 0.7, random_state = 2023, stratify = df_y)

In [47]:
# Ver resultados de la separación

print("Predictores:")
display(df_x)
print("Variable respuesta:")
display(df_y)

print("Predictores de entrenamiento:")
print("Dimensiones X_train:", x_train.shape)
print("Dimensiones X_test :", x_test.shape)
print("Dimensiones y_train:", y_train.shape)
print("Dimensiones y_test :", y_test.shape)

Predictores:

,MinTemp,MaxTemp,Lluvia,Evaporacion,Sol,VelRafaga,Vel9am,Vel3pm,Hum9am,Hum3pm,...,LluviaHoy_No,LluviaHoy_Yes,Koppen_Desert,Koppen_Grassland,Koppen_Subtropical,Koppen_Temperate,Estacion_Invierno,Estacion_Otoño,Estacion_Primavera,Estacion_Verano
0,7.60000,19.30000,0.00000,3.40000,9.40000,35.00000,13.00000,13.00000,73.00000,32.00000,...,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000
1,6.80000,19.50000,0.00000,3.40000,9.40000,46.00000,19.00000,28.00000,67.00000,42.00000,...,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000
2,5.50000,13.90000,0.00000,2.80000,3.80000,44.00000,26.00000,13.00000,72.00000,58.00000,...,1.00000,0.00000,0.00000,0.00000,0.00000,1.00000,1.00000,0.00000,0.00000,0.00000
3,8.60000,14.30000,0.00000,2.80000,3.80000,35.00000,13.00000,17.00000,67.00000,56.00000,...,1.00000,0.00000,0.00000,0.00000,0.00000,1.00000,1.00000,0.00000,0.00000,0.00000
4,7.90000,13.00000,0.00000,2.80000,3.80000,39.00000,15.00000,17.00000,68.00000,69.00000,...,1.00000,0.00000,0.00000,0.00000,0.00000,1.00000,1.00000,0.00000,0.00000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56415,7.60000,16.10000,2.80000,5.60000,10.60000,50.00000,20.00000,28.00000,68.00000,49.00000,...,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,0.00000
56416,13.30000,15.50000,39.80000,7.20000,9.10000,54.00000,30.00000,24.00000,62.00000,56.00000,...,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,0.00000
56417,13.70000,23.40000,3.60000,5.80000,3.30000,85.00000,6.00000,6.00000,82.00000,69.00000,...,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,0.00000
56418,14.00000,26.90000,3.60000,4.40000,9.70000,39.00000,4.00000,17.00000,80.00000,36.00000,...,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,0.00000
56419,8.00000,24.30000,0.00000,3.40000,6.30000,30.00000,6.00000,20.00000,68.00000,29.00000,...,1.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,0.00000

Variable respuesta:

0       0.00000
1       0.00000
2       0.00000
3       1.00000
4       0.00000
          ...
56415   0.00000
56416   1.00000
56417   1.00000
56418   1.00000
56419   1.00000
Name: LluviaMan, Length: 56420, dtype: float64

Predictores de entrenamiento:
Dimensiones X_train: (39494, 26)
Dimensiones X_test : (16926, 26)
Dimensiones y_train: (39494,)
Dimensiones y_test : (16926,)

# Parte 2
Utilizando el set de entrenamiento, ajuste un modelo de regresión logística, SVM, árbol de clasificación y Random Forest. Para ello debe:

Limpiar los datos - Escalar los datos numéricos. - Transformar a dummys las variables categóricas.

Definir la grilla de hiperparámetros a optimizar, en este caso:

SVM
Costo
Árbol de clasificación:
Observaciones mínimas para división.
Costo de complejidad.
Profundidad máxima del árbol.
Random Forest
Número de árboles.
Número de predictores muestreados para cada árbol.
Observaciones mínimas para división.
Buscar los hiperparámetros óptimos utilizando validación cruzada optimizando la métrica de roc_auc

In [48]:
# Información de x_train
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39494 entries, 26215 to 36224
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MinTemp             39494 non-null  float64
 1   MaxTemp             39494 non-null  float64
 2   Lluvia              39494 non-null  float64
 3   Evaporacion         39494 non-null  float64
 4   Sol                 39494 non-null  float64
 5   VelRafaga           39494 non-null  float64
 6   Vel9am              39494 non-null  float64
 7   Vel3pm              39494 non-null  float64
 8   Hum9am              39494 non-null  float64
 9   Hum3pm              39494 non-null  float64
 10  Pres9am             39494 non-null  float64
 11  Pre3pm              39494 non-null  float64
 12  Nub9am              39494 non-null  float64
 13  Nub3pm              39494 non-null  float64
 14  Temp9am             39494 non-null  float64
 15  Temp3pm             39494 non-null  float64
 16  LluviaHoy_No        39494 non-null  float64
 17  LluviaHoy_Yes       39494 non-null  float64
 18  Koppen_Desert       39494 non-null  float64
 19  Koppen_Grassland    39494 non-null  float64
 20  Koppen_Subtropical  39494 non-null  float64
 21  Koppen_Temperate    39494 non-null  float64
 22  Estacion_Invierno   39494 non-null  float64
 23  Estacion_Otoño      39494 non-null  float64
 24  Estacion_Primavera  39494 non-null  float64
 25  Estacion_Verano     39494 non-null  float64
dtypes: float64(26)
memory usage: 8.1 MB

In [49]:
# Escalar datos numericos en set de entrenamiento

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_escalada = scaler.fit_transform(x_train)

In [50]:
# head de datos estandarizados
display(x_escalada)

array([[ 0.59856057,  0.39857447, -0.30442468, ..., -0.58637542,
         1.7163475 , -0.56528365],
       [-1.33036821, -0.4616662 , -0.30442468, ..., -0.58637542,
         1.7163475 , -0.56528365],
       [ 0.87856636,  0.48459854, -0.30442468, ..., -0.58637542,
         1.7163475 , -0.56528365],
       ...,
       [-0.42812733,  0.95773091, -0.30442468, ...,  1.70539209,
        -0.5826326 , -0.56528365],
       [ 0.05410486,  1.3735139 , -0.30442468, ..., -0.58637542,
        -0.5826326 ,  1.76902339],
       [-0.91035952, -0.57636495, -0.30442468, ..., -0.58637542,
        -0.5826326 , -0.56528365]])